* {
  margin: 0;
  padding: 0;
}

img {
  width: 100px;
  height: 100px;
  padding-left: 30px;
  padding-top: 30px;
}
.navbar {
  display: flex;
  background-image: url("callm.jpg");
  height: 550px;
}
.liste {
  padding-top: 50px;
  display: flex;
  list-style: none;
  gap: 30px;
  padding-right: 20px;
  padding-left: 800px;
}
li {
  font-size: 20px;
  font-weight: bold;
}
.nutton {
  border-radius: 30px;
  height: 50px;
  width: 250px;
  background-color: rgb(31, 31, 225);
  font-weight: bold;
  color: white;
}
.btn {
  padding-top: 30px;
}

/* .img {
  width: 100%;
  height: 300px;
} */
.title {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: blue;
}
.paragraphe {
  padding-top: 10px;
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.btn1 {
  padding-top: 20px;
  text-align: center;
}
.title1 {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: blue;
}
.picture {
  display: flex;
  gap: 380px;
  width: 70%;
  padding-left: 110px;
  padding-top: 60px;
}
.alltext {
  display: flex;
  width: 90%;
  padding-left: 150px;
  gap: 80px;

  padding-top: 40px;
}
h3 {
  font-size: 30px;
  padding-bottom: 20px;
}
.p1 p,
a {
  font-size: 20px;
  padding-bottom: 20px;
}
.p2 p,
a {
  font-size: 20px;
  padding-bottom: 20px;
}
.p3 p,
a {
  font-size: 20px;
  padding-bottom: 20px;
}
.p1 {
  width: 350px;
}
.p2 {
  width: 350px;
}
.p3 {
  width: 350px;
}
img {
  height: 50px;
  width: 50px;
}
.film {
  width: 100%;
  height: 600px;
  text-align: center;

  padding: 0;
}
.fil {
  padding-top: 90px;
}
.carde{
  width: 200px;
}
.carte1{
  border-radius: 20px;
  background-color: rgb(80, 80, 200);
  width: 300px;
  height: 400px;
  
}