body{
    background-color: rgb(137, 117, 92);
}
.container{
    
    width: 100vW;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.donnee{
   
    border-radius: 50px;
    height: 300px;
    width: 800px;
    background-color: rgb(187, 223, 162);
    padding-left: 20px;
}
.photo{ 
    width: 100px;
    height: 100px;
    border-radius: 200px; 
}
.donnee h1{
    display: flex;
    justify-content: center;
}
.nometfunction{
    display: flex;
    gap: 100px;
    width: 700px;
    padding-bottom: 20px;
}
.nometfunction nom{
    width: 50%;
}
.nometfunction p{
    width: 50%;
    text-align: center;
}